@import 'tailwindcss';

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@theme {
  --color-primary-accent: #ff6b47;
  --color-secondary-accent: #f5b944;

  --color-background-primary: #0f0f0f;
  --color-background-card: #151210;
  --color-background-selected: #1e1815;
  --color-background-modal: #181210;

  --color-text-primary: #ede8e4;
  --color-text-secondary: #9a918c;
  --color-text-label: #5c5450;
  --color-text-tertiary: #3d3633;

  --font-headings: var(--font-space-grotesk);
  --font-body: var(--font-dm-sans);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #3d3633; /* 1em -> input font-size * 1 -> 40px * 1 = 40px */
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #3d3633;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #3d3633;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #3d3633;
}
