@import 'tailwindcss';

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@theme {
  --color-primary-accent: #ff6b47;
  --color-secondary-accent: #f5b944;

  --color-background-primary: #0f0f0f;
  --color-background-card: #151210;
  --color-background-selected: #1e1815;
  --color-background-modal: #181210;

  --color-text-primary: #ede8e4;
  --color-text-secondary: #9a918c;
  --color-text-label: #5c5450;
  --color-text-tertiary: #3d3633;

  --font-headings: var(--font-space-grotesk);
  --font-body: var(--font-dm-sans);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-slideUp: slideUp 0.1s ease both;

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(8);
    }
    ,
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-modalIn: modalIn 0.25s cubic-bezier(0.34, 1.4, 0.64, 1) both;

  @keyframes modalIn {
    0% {
      opacity: 0;
      transform: scale(0.95) translateY(8px);
    }
    ,
    100% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }
}

input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #3d3633; /* 1em -> input font-size * 1 -> 40px * 1 = 40px */
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #3d3633;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #3d3633;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #3d3633;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
